<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS Loaders/Spinners</title>
    <link rel="stylesheet" href="css/loader.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="main-wrapper">
      <h1>CSS Loaders/Spinners</h1>
      <p>
        Saw @ <a target="_blank" href="https://github.com/pongstr/css-loaders">https://github.com/pongstr/css-loaders</a> &#x1f602;
      </p>
      <p>
        Forked from: <a target="_blank" href="https://github.com/lukehaas/css-loaders">https://github.com/lukehaas/css-loaders</a>
      </p>
      <p>Usage:</p>
<pre>
<code>
  &lt;div class="load-container load(:n)">
    &lt;div class="loader">Loading...&lt;/div>
  &lt;/div>
</code>
</pre>
      <hr>
      <h3>Large Size</h3>
      <div class="flex-container">
      {% for i in range(1, 9) %}
        <div class="flex-item-container">
          <div class="load-container load{{i}}">
            <div class="loader">Loading...</div>
          </div>
          <p class="text-center">Loader {{i}}</p>
        </div>
      {% endfor %}
      </div>

      <h3>Medium Size</h3>
      <div class="flex-container">
      {% for i in range(1, 9) %}
        <div class="flex-item-container">
          <div class="load-container load{{i}}">
            <div class="loader loader-md">Loading...</div>
          </div>
          <p class="text-center">Loader {{i}}</p>
        </div>
      {% endfor %}
      </div>

      <h3>Small Size</h3>
      <div class="flex-container">
      {% for i in range(1, 9) %}
        <div class="flex-item-container">
          <div class="load-container load{{i}}">
            <div class="loader loader-sm">Loading...</div>
          </div>
          <p class="text-center">Loader {{i}}</p>
        </div>
      {% endfor %}
      </div>
    </div>
  </body>
</html>
